
body{
  margin: auto;
  background-color: #11548f;
	font-family: "Sans-serif, Times New Roman";
  }
  
h1{
  margin: 30px 20px 5px;
  font-size: 120px;
  font-family:Deadhead;
  font-weight: lighter;
  color: #FFFBF0;
}

h2{
  font-family: 'Oswald';
  color: #F47983;
  font-weight: lighter;
}

label{
  font-size: 20px;
  font-family: Didot;
  font-weight: lighter;
  color: #FFFBF0;
}

@media screen and (min-width:600px){


input{
  margin-top: 20px;
  margin-bottom: 20px;
}

}
